/* Fondo global */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #c6f8ff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Contenedor principal que ocupa toda la pantalla */
.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Contenido principal que crece para empujar el footer */
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Navbar */
.navbar {
    background-color: #54b5ff;
}

.navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
    color: #ffffff !important;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ffcc00 !important;
}

.icon {
    font-size: 1.5rem;
    color: #ffffff;
}

/* Sidebar (Offcanvas) */
.offcanvas-start {
    background-color: #8dd7ff;
}

.offcanvas-header {
    border-bottom: 1px solid #01579b;
}

.offcanvas .btn-close {
    color: white;
}

.offcanvas .nav-link {
    color: #035a9c;
    font-size: x-large;
}

/* Footer */
footer {
    background-color: #54b5ff;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin-top: auto; 
    position: sticky;
}

/* Mensajes de error */
.error-message {
    color: red;
    text-align: center;
    margin-top: 15px;
    display: block;
}


/* .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    visibility: hidden;
}

.modal.show {
    visibility: visible;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
} */
