<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mis Multas</title>
</head>

<body>
    <div class="main-container">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <!-- Botón de menú para abrir el Offcanvas Sidebar -->
                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar"
                    aria-controls="offcanvasSidebar" style="margin-right: 20px">
                    <i class="fas fa-bars"></i>
                    <!-- Icono de menú -->
                </button>

                                    <app-bookify-logo></app-bookify-logo>


                <!-- Perfil y Logout con separación -->
                <div class="ms-auto d-flex align-items-center">
                    <div class="cart-icon-container">
                        <i [routerLink]="['/booking-cart']" class="fas fa-shopping-cart icon"
                            style="font-size: 2rem; margin-right: 50px; cursor: pointer"></i>
                        <span [routerLink]="['/booking-cart']" class="cart-count">{{
                            bookCartService.getCountBooksReserved()
                            }}</span>
                    </div>
                    <i [routerLink]="['/my-profile']" class="fas fa-user-circle icon"
                        style="font-size: 2rem; margin-right: 50px; cursor: pointer"></i>
                    <app-logout></app-logout>
                </div>
            </div>
        </nav>

        <!-- Offcanvas Sidebar -->
        <app-sidebar></app-sidebar>

        <div class="container">
            <div class="container mt-5 pt-5">
                <h1>Mis Multas</h1>

                <!-- Botón de Filtros -->
                <div class="dropdown mb-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fas fa-filter"></i> Filtros
                    </button>
                    <div class="dropdown-menu p-3">
                        <!-- Filtro por fecha -->
                        <div class="mb-2">
                            <label for="startDate">Desde:</label>
                            <input type="date" id="startDate" class="form-control" [(ngModel)]="startDate" />
                        </div>
                        <div class="mb-2">
                            <label for="endDate">Hasta:</label>
                            <input type="date" id="endDate" class="form-control" [(ngModel)]="endDate" />
                        </div>

                        <hr />

                        <!-- Filtro por monto -->
                        <div class="mb-2">
                            <label for="minAmount">Monto mínimo:</label>
                            <input type="number" id="minAmount" class="form-control" [(ngModel)]="minAmount" />
                        </div>
                        <div class="mb-2">
                            <label for="maxAmount">Monto máximo:</label>
                            <input type="number" id="maxAmount" class="form-control" [(ngModel)]="maxAmount" />
                        </div>

                        <button class="btn btn-danger btn-sm mt-2" (click)="clearFilters()">
                            Quitar filtros
                        </button>
                    </div>
                </div>
                @if (fines.length === 0) {
                <div class="alert alert-info text-center">
                    No tiene multas registradas.
                </div>
                } @else {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Fecha de Multa</th>
                            <th>Monto</th>
                            <th>Reserva</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (fine of getFilteredDonations(); track fine.id_fine) {
                        <tr>
                            <td>{{ fine.fine_date | date : "dd/MM/yyyy" }}</td>
                            <td>{{ fine.amount | currency }}</td>
                            <td>
                                <button class="btn btn-info btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#detailsModal"
                                    (click)="setSelectedReservation(fine.id_reservation)">
                                    Ver Reserva
                                </button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                }

                <!-- Modal de Reserva -->
                <div class="modal fade" id="detailsModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Detalles Reserva</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                @if (selectedReservation) {
                                <div class="card">
                                    <div class="card-header bg-primary text-white">
                                        Reserva
                                    </div>
                                    <div class="card-body">
                                        <p><strong>Fecha de Reserva:</strong> {{ selectedReservation.reservation.reservation_date|
                                            date: 'dd/MM/yyyy' }}</p>
                                        <p><strong>Fecha de Devolución:</strong> {{ selectedReservation.reservation.return_date |
                                            date: 'dd/MM/yyyy' }}</p>
                                        <p><strong>Estado:</strong> {{ selectedReservation.reservation.status }}</p>
                                        <p><strong>Premium:</strong> {{ selectedReservation.reservation.is_premium ? 'Sí' : 'No' }}
                                        </p>
                                    </div>
                                </div>

                                <!-- Detalles de los libros reservados -->
                                <h5 class="mt-3">Libros Reservados</h5>
                                <div class="list-group">
                                    @for (bookDetails of selectedReservation.reservation_details; track
                                    bookDetails.book.id_book) {
                                    <div class="list-group-item">
                                        <p><strong>Título:</strong> {{ bookDetails.book.title }}</p>
                                        <p><strong>Autor:</strong> {{ bookDetails.book.author }}</p>
                                        <p><strong>Género:</strong> {{ bookDetails.book.genre }}</p>
                                        <p><strong>Editorial:</strong> {{ bookDetails.book.editorial }}</p>
                                        <p><strong>ISBN:</strong> {{ bookDetails.book.isbn }}</p>
                                    </div>
                                    }
                                </div>
                                } @else {
                                <div class="alert alert-warning text-center">
                                    No se ha seleccionado ninguna reserva.
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center py-3 mt-4 text-white">
        <p>&copy; {{ currentYear }} Bookify - UTN</p>
        <p>
            Contacto:
            <a href="mailto:404931@tecnicatura.frc.utn.edu.ar" class="text-white">
                404931&#64;tecnicatura.frc.utn.edu.ar</a>
            | Tel: +54 351 1234567
        </p>
        <p>Dirección: Av. Universidad Tecnológica 123, Córdoba, Argentina</p>
    </footer>
</body>

</html>